body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    color:#fff;
}

.login{
    padding-top: 70px;
    margin:0 auto;
    width: 30%;
}

.register{
    padding-top: 70px;
    margin:0 auto;
    width: 30%;
}

footer p{
    margin-top: 50px;
    border: 1px dotted black;
    height: 80px;
    width: 100%;
    text-align: center;
}

table{
    text-align: center;
    margin: 20px auto;
}